@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    @apply scroll-smooth
}

body{
    @apply bg-[#17123b] text-white mx-4 mt-5 lg:mx-40 md:mx-20;
    font-family: 'Inter', sans-serif;
}

body:has(.modal){
    overflow: hidden;
}